<footer class="wrapper">
  <a href="/admin">Admin</a>
  <a style="text-align: right" href="/posts">Back to posts</a>
</footer>

<style>
footer {
  border-top: 4px dashed var(--theme-divider);
  text-align: right;
  padding: 1rem;
}
</style>

<!-- <footer class="wrapper">
  <a href="/posts">Posts</a>
</footer>

<style>
footer {
  border-top: 4px dashed var(--theme-divider);
  text-align: right;
  padding: 1rem;
}
</style> -->